*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.brush{
    border-bottom: 1px solid black;
}
.brush,.download,.Eraser,.clear{
    padding-bottom: 7px;
    margin: 10px;
    cursor: pointer;
    color:#0c0c0cc5;
    font-size: 23px;
    transition: all 0.5s;
}
.brush:hover,.download:hover,.Eraser:hover,.clear:hover{
    transform: scale(1.2);
}
nav{
    box-sizing:border-box;
    background-color: #40a8c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
nav h1{
    font-size: 25px;
}

.color1{
    background-color:#ec0101;
}
.color2{
    background-color:#1ecbe1;
}
.color3{
    background-color:#ffc93c;
}
.color4{
    background-color:#050505;
}
li{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
}
.option{
    display: flex;
    align-items: center;
}
.colors{
    float: right;
    transform: translateX(220px);
    opacity:0;
    transition: all 1s;
}
.color-list{
    display: flex;
}
.canvas{
    box-shadow: 5px 10px #888888;
}