*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.brush{
    height:60px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
    border-bottom: 1px solid black;
}
.Eraser{
    height:50px;
    cursor: pointer;
    font-weight: bold;
    transform:rotateY(140deg) ;
    transition: all 0.5s;
}
nav{
    box-sizing:border-box;
    background-color: #40a8c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
nav h1{
    font-size: 25px;
}

.color1{
    background-color:#ec0101;
}
.color2{
    background-color:#1ecbe1;
}
.color3{
    background-color:#ffc93c;
}
.color4{
    background-color:#050505;
}
li{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
}
.option{
    display: flex;
    align-items: center;
}
.colors{
    float: right;
    transform: translateX(220px);
    opacity:0;
    transition: all 1s;
}
.color-list{
    display: flex;
}
.canvas{
    box-shadow: 5px 10px #888888;
}